<!DOCTYPE html>
<% if (lang == 'en') { %>
<html lang="en">
<% } else { %>
<html lang="ar" dir="rtl" class="rtl">
<% } %>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="HRA Awaran SFD Cyberstate">

  <title>HRA Portal</title>

  <!-- vendor css -->
  <link href="theme/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="theme/lib/Ionicons/css/ionicons.css" rel="stylesheet">
  <link href="theme/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
  <link href="theme/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
  <link href="theme/lib/rickshaw/rickshaw.min.css" rel="stylesheet">
  <link href="theme/lib/select2/css/select2.min.css" rel="stylesheet">

  <!-- Bracket CSS -->
  <link rel="stylesheet" href="theme/css/bracket.css">
</head>

<body>

  <% include ../partials/header %>

  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel">
    <div class="br-pagetitle">
      <i class="icon ion-ios-pulse"></i>
      <div>
        <% if (lang == 'en') { %>
        <h4>Construction of 8000 Houses | Cheques Enchased by Beneficiaires</h4>
        <p class="mg-b-0" id="labelRegion">As per Bank Reconciliation report till <%= LastDisbursementOn %></p>
        <% } else { %>
        <h3> الشيكات المستنيرة من قبل المستفيدين | بناء 8000 منزل</h3>
        <p class="mg-b-0" id="labelRegion">وفقًا لتقرير تسوية البنك حتى 25 أبريل 2019</p>
        <% } %>
      </div>
    </div><!-- d-flex -->

    <div class="br-pagebody">
      <div class="row row-sm mg-t-20">
        <div class="col-lg-4">
          <div class="card shadow-base card-body pd-25 bd-0">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="card-title tx-uppercase tx-12"> Summary</h6>
                <p class="display-4 tx-medium tx-inverse mg-b-5 tx-lato">
                  <%= (TotalCountInstallment_/TotalCountApproved*100).toFixed(2) %>%
                </p>
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-primary progress-bar-xs wd-75p " role="progressbar" aria-valuenow="1"
                    aria-valuemin="20" aria-valuemax="100"></div>
                </div><!-- progress -->
                <p class="tx-14"><%= TotalCountInstallment_ %> beneficiaries out of <%= TotalCountApproved %> approved beneficiaires have
                  encashed the <%= Installment %> installment cheques
                  of Rs. <%= InstallmentAmount %> as per Bank Reconciliation report till <%= LastDisbursementOn %></p>
                <br />
                <p class="tx-14 lh-3 mg-b-0">You can also see the progress of cheque encashment <a href="#">chart
                    below</a>.</p>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- card -->
        </div><!-- col-6 -->
        <div class="col-lg-8 mg-t-30 mg-lg-t-0">
          <div class="card shadow-base card-body pd-25 bd-0">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="card-title tx-uppercase tx-12 tx-inverse">Statistics - UC WISE ENCASHMENT</h6>
                <canvas id="PaymentsDisbursedByUCChart" style="width: 100%;height:60%;"></canvas>
              </div><!-- col-6 -->

            </div><!-- row -->
          </div><!-- card -->
        </div><!-- col-6 -->
      </div>


      <div class="row row-sm mg-t-20">
        <div class="col-lg-12">
          <div class="card shadow-base bd-0 pd-10 mg-t-5">

            <div id="PaymentsDisbursedChart" style="width: 100%;height:400px;"></div>
          </div>
        </div><!-- col-8 -->
      </div><!-- row -->
      <div class="row row-sm mg-t-20">
        <div class="col-lg-12">
          <div class="card shadow-base bd-0 pd-10 mg-t-5">
            <h4 class="card-title tx-uppercase tx-12 tx-inverse"><%= TableTitle %> </h4>

            <div class="bd bd-gray-300 rounded table-responsive">
              <table class="table table-hover mg-b-0">
                <thead class="thead-colored thead-info">
                  <tr>
                    <th>UC</th>
                    <th>MAR 2019</th>
                    <th>APR 2019</th>
                    <th>MAY 2019</th>
                    <th>JUN 2019</th>
                    <th>JUL 2019</th>
                    <th>AUG 2019</th>
                    <th>SEP 2019</th>
                    <th>OCT 2019</th>
                    <th>NOV 2019</th>
                    <th>DEC 2019</th>
                    <th>JAN 2020</th>
                    <th>FEB 2020</th>
                    <th>MAR 2020</th>
                    <th>APR 2020</th>
                    <th>MAY 2020</th>
                    <th>JUN 2020</th>
                    <th>JUL 2020</th>
                    <th>AUG 2020</th>
                    <th>GRAND TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <% Installment_DisbursementByUCnMonth.forEach(function(w) { %>
                  <tr>
                    <th scope="row"><%= w.UCName%></th>
                    <td><%= w.TotalCount0319 %></td>
                    <td><%= w.TotalCount0419 %></td>
                    <td><%= w.TotalCount0519 %></td>
                    <td><%= w.TotalCount0619 %></td>
                    <td><%= w.TotalCount0719 %></td>
                    <td><%= w.TotalCount0819 %></td>
                    <td><%= w.TotalCount0919 %></td>
                    <td><%= w.TotalCount1019 %></td>
                    <td><%= w.TotalCount1119 %></td>
                    <td><%= w.TotalCount1219 %></td>
                    <td><%= w.TotalCount0120 %></td>
                    <td><%= w.TotalCount0220 %></td>
                    <td><%= w.TotalCount0320 %></td>
                    <td><%= w.TotalCount0420 %></td>
                    <td><%= w.TotalCount0520 %></td>
                    <td><%= w.TotalCount0620 %></td>
                    <td><%= w.TotalCount0720 %></td>
                    <td><%= w.TotalCount0820 %></td>
                    
                    <td><%= w.TotalCount0319+w.TotalCount0419+w.TotalCount0519+w.TotalCount0619+w.TotalCount0719+w.TotalCount0819+w.TotalCount0919+w.TotalCount1019+w.TotalCount1119+w.TotalCount1219+w.TotalCount0120+w.TotalCount0220+w.TotalCount0320+w.TotalCount0420+w.TotalCount0520+w.TotalCount0620+w.TotalCount0720+w.TotalCount0820 %></td>
                  </tr>
                  <% }); %>
                  <tr>
                      <th scope="row">GRAND TOTAL</th>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0319 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0419 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0519 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0619 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0719 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0819 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0919 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount1019 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount1119 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount1219 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0120 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0220 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0320 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0420 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0520 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0620 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0720 %></td>
                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0820 %></td>

                      <td><%= TotalCountsInstallment_DisbursementByMonth.TotalCount0319+TotalCountsInstallment_DisbursementByMonth.TotalCount0419+TotalCountsInstallment_DisbursementByMonth.TotalCount0519+TotalCountsInstallment_DisbursementByMonth.TotalCount0619+TotalCountsInstallment_DisbursementByMonth.TotalCount0719+TotalCountsInstallment_DisbursementByMonth.TotalCount0819+TotalCountsInstallment_DisbursementByMonth.TotalCount0919+TotalCountsInstallment_DisbursementByMonth.TotalCount1019+TotalCountsInstallment_DisbursementByMonth.TotalCount1119+TotalCountsInstallment_DisbursementByMonth.TotalCount1219+TotalCountsInstallment_DisbursementByMonth.TotalCount0120+TotalCountsInstallment_DisbursementByMonth.TotalCount0220+TotalCountsInstallment_DisbursementByMonth.TotalCount0320+TotalCountsInstallment_DisbursementByMonth.TotalCount0420+TotalCountsInstallment_DisbursementByMonth.TotalCount0520+TotalCountsInstallment_DisbursementByMonth.TotalCount0620+TotalCountsInstallment_DisbursementByMonth.TotalCount0720+TotalCountsInstallment_DisbursementByMonth.TotalCount0820 %></td>
                      
                    <tr>
                </tbody>
              </table>
            </div>
          </div><!-- card -->
        </div><!-- col-8 -->

        
      </div><!-- row -->


    </div><!-- br-pagebody -->
    <% include ../partials/footer %>
  </div><!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->

  <script src="theme/lib/jquery/jquery.js"></script>
  <script src="theme/js/popper.js"></script>
  <script src="theme/lib/bootstrap/js/bootstrap.js"></script>
  <script src="theme/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="theme/lib/moment/moment.js"></script>
  <script src="theme/lib/jquery-ui/jquery-ui.js"></script>
  <script src="theme/lib/jquery-switchbutton/jquery.switchButton.js"></script>
  <script src="theme/lib/peity/jquery.peity.js"></script>
  <script src="theme/lib/d3/d3.js"></script>
  <script src="theme/lib/rickshaw/rickshaw.min.js"></script>
  <script src="theme/lib/Flot/jquery.flot.js"></script>
  <script src="theme/lib/Flot/jquery.flot.resize.js"></script>
  <script src="theme/lib/flot-spline/jquery.flot.spline.js"></script>
  <script src="theme/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
  <script src="theme/lib/chart.js/Chart.js"></script>
  <script src="theme/lib/echarts/echarts.min.js"></script>
  <script src="theme/lib/select2/js/select2.full.min.js"></script>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyDw_FHu8ftIuC-35k9ViKlnp63L2vnGiLU"></script>

  <script src="theme/lib/gmaps/gmaps.js"></script>

  <script src="theme/js/bracket.js"></script>
  <script src="theme/js/map.shiftworker.js"></script>
  <script src="theme/js/ResizeSensor.js"></script>
  <script src="theme/js/dashboard.js"></script>
  <script src="theme/js/chart.echarts.js"></script>
  <script>
function fillMonths(md){
var months =['2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12','2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08']
var i=0;
var d=[];
months.forEach(m=>{ 
if(md[i] && m==md[i].Month) {
d.push(md[i++]);
} else {
d.push({Month: m,
TotalCountInstallment_Awaran: 0,
TotalCountInstallment_Dandar: 0,
TotalCountInstallment_Gajjar: 0,
TotalCountInstallment_Gishkore: 0,
TotalCountInstallment_Nokjo: 0,
TotalCountInstallment_Parwar: 0,
TotalCountInstallment_Teertaje: 0});
}
 });
return d;
}

    $(function () {
      'use strict'
      // FOR DEMO ONLY
      // menu collapsed by default during first page load or refresh with screen
      // having a size between 992px and 1299px. This is intended on this page only
      // for better viewing of widgets demo.
      $(window).resize(function () {
        minimizeMenu();
      });
      minimizeMenu();
      function minimizeMenu() {
        if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
          // show only the icons and hide left menu label by default
          $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
          $('body').addClass('collapsed-menu');
          $('.show-sub + .br-menu-sub').slideUp();
        } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
          $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
          $('body').removeClass('collapsed-menu');
          $('.show-sub + .br-menu-sub').slideDown();
        }
      }
    });
  </script>
  <script>
    (function (document, window, $) {
      document.getElementById("li-financials").classList.add('active');
      document.getElementById("first-installment").classList.add('active');
      function htmlDecode(input) {
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
      }
      var lang = JSON.parse(htmlDecode("<%= JSON.stringify(lang) %>"));
      var TotalCountInstallment_ByUC = JSON.parse(htmlDecode("<%= JSON.stringify(TotalCountInstallment_ByUC) %>"));
      var TotalCountInstallment_ByUCnMonth = fillMonths(JSON.parse(htmlDecode("<%= JSON.stringify(TotalCountInstallment_ByUCnMonth) %>")));
      
      //var PaymentsDisbursedByUCChart = echarts.init(document.getElementById('PaymentsDisbursedByUCChart'));
      var ctx = document.getElementById('PaymentsDisbursedByUCChart').getContext('2d');
      var p = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Awaran', 'Gishkore', 'Teertaje', 'Gajjar', 'Nok Jo', 'Parwar', 'Dandar'],
          datasets: [{
            label: 'Cheques encashed by # of beneficiaries',
            data: [TotalCountInstallment_ByUC.TotalCountInstallment_Awaran,
              TotalCountInstallment_ByUC.TotalCountInstallment_Gishkore,
              TotalCountInstallment_ByUC.TotalCountInstallment_Teertaje,
              TotalCountInstallment_ByUC.TotalCountInstallment_Gajjar,
              TotalCountInstallment_ByUC.TotalCountInstallment_Nokjo,
              TotalCountInstallment_ByUC.TotalCountInstallment_Parwar,
              TotalCountInstallment_ByUC.TotalCountInstallment_Dandar,

            ],
            backgroundColor: ['#d47644', '#3E6990', '#e6d733', '#AABD8C', '#9B1D20', '#E45A19', '#80AA2B']
          }]
        },
        options: {
          legend: {
            display: false,
            labels: {
              display: false
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontSize: 10,
                max: 1450
              }
            }],
            xAxes: [{
              ticks: {
                beginAtZero: true,
                fontSize: 11
              }
            }]
          }
        }
      });
      

      var PaymentsDisbursedChartTitle = '<%= GraphTitle %>';
      var PaymentsDisbursedChartSubText = 'UC Wise';
      var x_inverse = false;
      var y_position = 'left';
      var x = 'left';
      var legendX = 'right';
      var data = ['MAR 19', 'APR 19', 'MAY 19', 'JUN 19', 'JUL 19', 'AUG 19', 'SEP 19', 'OCT 19', 'NOV 19', 'DEC 19', 'JAN 20', 'FEB 20','MAR 20','APR 20','MAY 20','JUN 20','JUL 20','AUG 20'];
      if (lang == 'ar') {
        PaymentsDisbursedChartTitle = 'صرف القسط الأول';
        PaymentsDisbursedChartSubText = 'الاسبوع الحكيم';
        x = 'right';
        legendX = 'left';
        data = ['الأسبوع 1', 'الأسبوع 2', 'الأسبوع 3', 'الأسبوع 4', 'الأسبوع 5', 'الأسبوع 6', 'الأسبوع 7', 'الأسبوع 8'];
        x_inverse = true;
        y_position = 'right';
      }

      var PaymentsDisbursedChart = echarts.init(document.getElementById('PaymentsDisbursedChart'));
      options = {
        title: {
          text: PaymentsDisbursedChartTitle,
          subtext: PaymentsDisbursedChartSubText,
          x: x
        },
        color: ['#d47644', '#3E6990', '#e6d733', '#AABD8C', '#9B1D20', '#E45A19', '#80AA2B'],
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['Awaran', 'Gishkore', 'Teertaje', 'Gajjar', 'Nok Jo', 'Parwar', 'Dandar'],
          x: legendX
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: data,
          inverse: x_inverse
        },
        yAxis: {
          type: 'value',
          position: y_position
        },
        series: [
          {
            name: 'Awaran',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[16] ? TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Awaran:0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Awaran:0, 
                    0,
                    
                ]
          },
          {
            name: 'Gishkore',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Gishkore:0, 
                    TotalCountInstallment_ByUCnMonth[16]? TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Gishkore :0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Gishkore:0, 
                    0
                ]
          },
          {
            name: 'Teertaje',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Teertaje:0,  
                    TotalCountInstallment_ByUCnMonth[16]? TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Teertaje:0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Teertaje:0, 
                    0
                ]
          },
          {
            name: 'Gajjar',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[16]?TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Gajjar:0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Gajjar:0, 
                    0
                ]
          },
          {
            name: 'Nok Jo',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[16]?TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Nokjo:0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Nokjo:0, 
                    0
                ]
          },
          {
            name: 'Parwar',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[16]?TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Parwar:0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Parwar:0, 
                    0
                ]
          },
          {
            name: 'Dandar',
            type: 'line',
            data: [
            TotalCountInstallment_ByUCnMonth[0]?TotalCountInstallment_ByUCnMonth[0].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[1]?TotalCountInstallment_ByUCnMonth[1].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[2]?TotalCountInstallment_ByUCnMonth[2].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[3]?TotalCountInstallment_ByUCnMonth[3].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[4]?TotalCountInstallment_ByUCnMonth[4].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[5]?TotalCountInstallment_ByUCnMonth[5].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[6]?TotalCountInstallment_ByUCnMonth[6].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[7]?TotalCountInstallment_ByUCnMonth[7].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[8]?TotalCountInstallment_ByUCnMonth[8].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[9]?TotalCountInstallment_ByUCnMonth[9].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[10]?TotalCountInstallment_ByUCnMonth[10].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[11]?TotalCountInstallment_ByUCnMonth[11].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[12]?TotalCountInstallment_ByUCnMonth[12].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[13]?TotalCountInstallment_ByUCnMonth[13].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[14]?TotalCountInstallment_ByUCnMonth[14].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[15]?TotalCountInstallment_ByUCnMonth[15].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[16]? TotalCountInstallment_ByUCnMonth[16].TotalCountInstallment_Dandar:0, 
                    TotalCountInstallment_ByUCnMonth[17]?TotalCountInstallment_ByUCnMonth[17].TotalCountInstallment_Dandar:0, 
                    0
                ]
          }

        ]
      };
      PaymentsDisbursedChart.setOption(options);
    })(document, window, jQuery);
  </script>
</body>

</html>